body{
    padding: 20px;
}

/* Design da Nav */
.container-fluid{
    background-color:  rgb(77, 77, 77);
    border-radius: 5px;

}
.navbar-brand img:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    transition: 0.6s;
}
.container-fluid a{
    color: white;
}
.nav-link:hover{
    color: black;
    background-color: rgba(221, 221, 221, 0.226);
    border-radius: 5px;
}

/*design das marcas*/
#marcas{
    display: flex;    
}
#marcas li{
    list-style: none;
    flex-grow: 1;

}
#marcas img{
    max-width: 100px;
}

/*design dos cards */
.card{
    margin: auto auto;
    overflow: hidden;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.imgGrid{   
    margin: 5px auto; 
    width: 250px;
    height: 250px;
}
.imgGrid:hover{
    border: black solid;
    border-radius: 5px;
}

/*Design do prodto*/

.container{
    margin: auto auto;
}

.row {
    margin: 5px auto;
}
.col {
    margin: 5px auto;
}

/*Design da imagem do link do whats*/
.link {
    border-radius: 50px;
    list-style: none;
    text-align: center;
}

.link a {
    opacity: .6;
}

.link a:hover {
    opacity: 1;
}

.link img {
    max-width: 150px;     
}

/*design calculadora*/
#caculoBtus {
    text-align: center;
}

#calculoBtus img{
    width: 350px;
    height: 300px;
    max-width: 100%;
    max-width: 100%;
    margin: 10px auto; 
    cursor: pointer;
       
}

#calculoBtus img:hover{
    border: blue solid;
    border-radius: 5px;
}

/*comentario Google*/

#carouselGoogle{
    border: solid black;
    padding: 10px;
    margin: 50px auto;
    width: 700px;
    height: 480px;
    position: relative;
    overflow: hidden;
}

/*cliente*/

#cliente{
    max-width: 100%;
    padding: 10px;
}

#imgcli img{
    width: 120px;
    height: 100px;
    
    
}
#imgcli:hover{
    animation-play-state: paused;
}
#imgcli li{
    margin: 5px;
    list-style: none;
    flex-grow: 1;
    border-radius: 5px;

}
#imgcli{
    padding: 5px;
    display: flex;
    animation-name: fila;
    animation-duration: 20s;
    animation-timing-function: linear;
    
    
    animation-iteration-count: infinite;
   
}

@keyframes fila{
    100%{
        transform: translateX(calc(100vw - 50px));
    }
    0%{
        transform: translateX(calc(-150vw - 50px));
    }
    
}

/* link whats */
#link1 {
    border-radius: 50px;
    background-color: rgb(175, 175, 175);
    list-style: none;
    text-align: center;
    
}

#link1 a {
    opacity: .6;
}

#link1 a:hover {
    opacity: 1;
}

#link1 img {
    max-width: 150px;     
}

/*Rodapé*/

#rodape {  
    background-color:  rgb(77, 77, 77);
    border-radius: 5px; 
}

#rodape p, #rodape b{
    color: white;
    margin: 3px;
    
}
#insta, #face{
    list-style: none;
    display: inline ;
}

#insta a, #face a{
    opacity: .5;
} 

#insta a:hover, #face a:hover{
    opacity: 1;
}

#insta img {
    max-width: 50px;
}

#face img{
    max-width: 35px;
}

/*Pagina Historia*/

.bannerHistoria {
   max-width: 100%;
   max-height: 100%;

}
.carta-grid{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    
    
    
}

.carta{
    padding: 5px;
    margin: 100px auto ;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.603);
    
}

.carta h5{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.carta p{
    animation: transparencia 10s forwards;
    animation-delay: 4s;
    overflow: hidden;
    opacity: 0;
}
 
.animacaopisca{
    animation: pisca 500ms steps(40) 4s normal, typing 4s steps(40) 1s normal;
    animation-delay: 2s;
}

@keyframes typing{
    from{
        width: 0;
    }

    to{
        width: 16em;
        }
}

@keyframes transparencia{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 346px and up)*/
@media (min-width: 346px) {
    #marcas img{
        max-width: 30px;
    }
    #carouselGoogle{
        width: 350px;
        height: 200px;
    }
    #imgcli img{
        height: 50px;
    }
    .carta-grid{
        grid-template-columns: auto;
    }
    .galeria{
        grid-template-columns: auto;
    }

}    

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #marcas img{
        max-width: 50px;
    } 
    #carouselGoogle{
        width: 700px;
        height: 480px;
    }
    #imgcli img{
        height: 55px;
    }
    .carta-grid{
        grid-template-columns: auto auto;        
    }
    .galeria{
        grid-template-columns: auto auto;
    }


}    

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    #marcas img{
        max-width: 100px;
    }
    #carouselGoogle{
        width: 700px;
        height: 480px;
    } 
    #imgcli img{
    height: 60px;
    }
    .carta-grid{
        grid-template-columns: auto auto;
    }
    .galeria{
        grid-template-columns: auto auto auto; 
    }
}    

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #marcas img{
        max-width: 120px;
    }
    #carouselGoogle{
        width: 700px;
        height: 480px;
    } 
    #imgcli img{
    height: 60px;
    }
    .carta-grid{
        grid-template-columns: auto auto;    
    }
    .galeria{
        grid-template-columns: auto auto auto auto; 
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    #marcas img{
        max-width: 140px;
    }
    #carouselGoogle{
        width: 700px;
        height: 480px;
    } 
    #imgcli img{
        height: 65px;
    }
    .carta-grid{
        grid-template-columns: auto auto;
       
    }
    #link1{
        margin-top: 7%;
    }
    
 }