body{
    padding: 20px;
}

/* Design da Nav */
.container-fluid{
    background-color:  rgba(77, 77, 77, 0.801);
    border-radius: 5px;

}
.container-fluid a{
    color: black;
}
.nav-link:hover{
    color: white;
}

/*design das marcas*/
#marcas{
    display: flex;    
}
#marcas li{
    list-style: none;
    flex-grow: 1;

}
#marcas img{
    max-width: 100px;
}

/*design dos cards */
.card{
    overflow: hidden;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.card:hover{
    -moz-transform: scale(0.2.0.2);
    -webkit-transform: (0.2.0.2);
    transform: (0.2.0.2);
    border: blue solid;
    border-radius: 5px;
}

.imgGrid{    
    width: 250px;
    height: 250px;
}
.imgGrid:hover{
    border: black solid;
    border-radius: 5px;
}

/*Design da imagem do link do whats*/
.link {
    border-radius: 50px;
    list-style: none;
    text-align: center;
}

.link a {
    opacity: .6;
}

.link a:hover {
    opacity: 1;
}

.link img {
    max-width: 150px;     
}

/*comentario Google*/

#carouselGoogle{
    border: solid black;
    padding: 10px;
    margin: 150px auto;
    width: 700px;
    height: 480px;
    position: relative;
    overflow: hidden;
}

/*cliente*/

#cliente{
    max-width: 100%;
    padding: 10px;
}

#imgcli img{
    width: 130px;
    height: 60px;
}
#imgcli:hover{
    animation-play-state: paused;
}
#imgcli li{
    list-style: none;
    flex-grow: 1;
    
}
#imgcli{
    padding: 5px;
    display: flex;
    animation-name: fila;
    animation-duration: 15s;
    animation-timing-function: linear;
    
    
    animation-iteration-count: infinite;
   
}

@keyframes fila{
    100%{
        transform: translateX(calc(100vw - 50px));
    }
    0%{
        transform: translateX(calc(-100vw - 50px));
    }
}

/* link whats */

#link1 {
    border-radius: 50px;
    background-color: rgb(175, 175, 175);
    list-style: none;
    text-align: center;
}

#link1 a {
    opacity: .6;
}

#link1 a:hover {
    opacity: 1;
}

#link1 img {
    max-width: 150px;     
}

/*Rodapé*/

#rodape {  
    background-color:  rgb(77, 77, 77);
    border-radius: 5px;  
}

#rodape p, #rodape b{
    color: white;
    margin: 3px;
    
}
#insta, #face{
    list-style: none;
    display: inline ;
}

#insta a, #face a{
    opacity: .5;
} 

#insta a:hover, #face a:hover{
    opacity: 1;
}

#insta img {
    max-width: 50px;
}

#face img{
    max-width: 35px;
}

/*Pagina Historia*/

.imagen-historia{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30%;

    max-width: 100%;
    
}

.carta-grid{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    
}

.carta{
    padding: 5px;
    margin: 100px auto ;
    text-align: center;
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.507);
}

/*Pagina da Parceiro*/

.col-md-8{
    animation: fade 8s forwards;
    opacity: 0;
    }

.col-md-8{
overflow: hidden;
position: relative;

}    
.col-md-8::before{
    animation: text-reveal 4s ease forwards;
    background-color: rgb(68, 65, 255);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@keyframes text-reveal{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}
@keyframes fade{
    to{
        opacity: 1;
    }
}

.galeria{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    width: 310px;
    padding: 10px;
    justify-content: center;    
    margin: auto;
}

.glimg{
    border: aquamarine solid;
    text-align: center;
    
}
/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 346px and up)*/
@media (min-width: 346px) {
    #marcas img{
        max-width: 30px;
    }
    #carouselGoogle{
        width: 350px;
        height: 200px;
    }
    #imgcli img{
        height: 50px;
    }
    .carta-grid{
        grid-template-columns: auto;
    }
    .galeria{
        grid-template-columns: auto;
    }
}    

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #marcas img{
        max-width: 50px;
    } 
    #carouselGoogle{
        width: 700px;
        height: 480px;
    }
    #imgcli img{
        height: 55px;
    }
    .carta-grid{
        grid-template-columns: auto auto;        
    }
    .galeria{
        grid-template-columns: auto auto;
    }
}    

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    #marcas img{
        max-width: 100px;
    }
    #carouselGoogle{
        width: 700px;
        height: 480px;
    } 
    #imgcli img{
    height: 60px;
    }
    .carta-grid{
        grid-template-columns: auto auto;
    }
    .galeria{
        grid-template-columns: auto auto auto; 
    }
}    

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #marcas img{
        max-width: 120px;
    }
    #carouselGoogle{
        width: 700px;
        height: 480px;
    } 
    #imgcli img{
    height: 60px;
    }
    .carta-grid{
        grid-template-columns: auto auto;    
    }
    .galeria{
        grid-template-columns: auto auto auto auto; 
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    #marcas img{
        max-width: 140px;
    }
    #carouselGoogle{
        width: 700px;
        height: 480px;
    } 
    #imgcli img{
        height: 65px;
    }
    .carta-grid{
        grid-template-columns: auto auto;
       
    }
    
 }